// ==============================|| Custom Styles ||============================== //
.attended {
    background-color: #79f28d28;
}

.cancelled {
    background-color: #f279892c;
}

.future {
    background-color: #4657f028;
}